{%extends 'base.html.twig'%}

{%block title%}{{title}}{%endblock%}

{%block body%}
<div {{stimulus_controller('article-controls')}}></div>
<h1>{{title}}</h1>

<div>{{content | striptags }}</div>
{%endblock%}